
.WrapperLableText{
    color:rgb(56, 56, 61);
    font-size: 14px;
    font-weight: 500;
    
}

.WrapperTextValue{
    color: rgb(56, 56, 61);
    font-size: 12px;
    font-weight: 400;
}

.WrapperContent{
    display: flex;
    //align-items: center;
    flex-direction: column;
    gap: 12px;
}

.WrapperPrice{
    border-radius:10px;
    background-color:rgb(238,238,238);
    width:fit-content;
    padding:4px;
    color: rgb(56, 56, 61);
}