
.WrapperLableText{
    color:rgb(56, 56, 61);
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 8px 0;
    
}

.WrapperTextValue{
    color: rgb(56, 56, 61);
    font-size: 14px;
    font-weight: 400;
    //padding: 7px 16px 7px 16px;
    border-radius: 8px;
}
.WrapperType{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 7px 6px;
    border-radius: 8px;
    transition: all 0.4s ease;
    &:hover{
        background-color: rgba(0,0,0,0.1);
    }
}
.WrapperIconType{
   width: 32px;
   height: 32px;
}

.WrapperContent{
    display: flex;
    //align-items: center;
    flex-direction: column;
    gap: 12px;
}

.WrapperPrice{
    border-radius:10px;
    background-color:rgb(238,238,238);
    width:fit-content;
    padding:4px;
    color: rgb(56, 56, 61);
}

