

.WrapperButtonMore{
    &:hover{
        color: 'white';
        background-color: rgb(13, 92, 182);
        span{
            color: white;
        }
    }
    width: 100%;
    text-align: center;
}

.WrapperProducts{
    display: flex;
    gap: 12px;
    margin-top:20px;
    flex-wrap: wrap;
}

.WrapperTypeProduct {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: flex-start;
    height: 44px;
}
.WrapperType123{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cssSlider{
    & .slick-arrow.slick-prev {
        left: -14px;
        top: 50%;
        z-index: 10;
        &::before {
            font-size: 30px;
            color: #ccc;
        }
    }
    & .slick-arrow.slick-next {
        right: -2px;
        top: 50%;
        z-index: 10;
        &::before {
            font-size: 30px;
            color: #ccc;
        }
    }
    & .slick-dots {
        z-index: 10;
        bottom: -18px !important;
        li {
            button {
                &::before {
                    color: black;
                }
            }
        }
        li.active {
            button {
                &::before {
                    color: #fff;
                }
            }
        }
    }
}

